@font-face {
    font-family: 'AnonymousPro';
    src: url('AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('AnonymousPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

main {
    padding-top: 2rem;
}

.background {
    position: fixed;
    z-index: -1;
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
}

.package {
    position: relative;
    border: 3px solid #0e4f1f;
    border-left: none;
    margin: 1rem 0;
    width: 80%;
    overflow: hidden;
}

.package:hover,
.package:active {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
    transform: translate(2.5rem, 2.5rem) rotate(45deg);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

.package__subtitle {
    color: #858585;
}

.package__info {
    border: 1px solid #0e4f1f;
    padding: 1rem;
    color: #0e4f1f;
    background: white;
    font-size: 1.2rem;
    /*font-style font-variant font-weight font-size/line-height font-family*/
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: 3px solid #0e4f1f;
    border-right: none;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 3px solid #0e4f1f;
    }

    #free {
        border-right: 3px solid #0e4f1f;
    }

    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}